<div id="kWindow">
    <h5 style="color:midnightblue;">Do you confirm the deletion of the selected item?</h5>
    <hr style="border-color:coral; border-width: 2px" />
    <div style="margin-left: 100px; margin-right: 50px; margin-top: -10px; ">
        <button style="background-color: cadetblue; width: 100px;" id="yes" class="k-button">Ok</button>
        <button style="background-color: darksalmon; width: 100px;" id="no" class="k-button">Cancel</button>
    </div>
</div>
