
    @{
        Layout = null;
    }

   @*@Html.LabelFor(m => m.File.TypesOfFile.FirstOrDefault().TypeofFile.Name, new { @class = "col-sm-2" })*@
<div class="col-sm-4">
    @*    @Html.DropDownListFor(m => m.File.TypeofFolderId, new SelectList(Model.TypeOfFolders, "Id", "Name")
        , new { @class = "populate,placeholder" })*@
    @Html.ListBox("TypeofFolders", ViewBag.TypeOfFolderlist as MultiSelectList,
                        new
                        {
                            @class = "chzn-select",
                            data_placeholder = "Select",
                            style = "width:350px; "
                        })
</div>

<script src="@Url.Content("~/scripts/chosen/chosen.jquery.js")" type="text/javascript"></script>
<link href="@Url.Content("~/scripts/chosen/chosen.css")" rel="stylesheet" type="text/css" />

<script>    $(".chzn-select").select2(); </script>

 